<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OpenMind</title>
  <link rel="stylesheet" href="../styles/css/main.css" />
</head>

<body>
  <!-- Contenedores para header y footer modularizados -->
  <div id="header-container"></div>

  <main>
    <section id="cursos-container" class="cursos-lista"></section>
  </main>

  <div id="footer-container"></div>

  <script type="module">
    import { loadHeaderFooter } from "../controllers/utils/loadComponents.js";
    loadHeaderFooter();
  </script>

  <script type="module" src="../controllers/cursosController.js"></script>
</body>
</html>
