@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: var(--fuente);
  background-color: var(--color-fondo);
  color: var(--color-texto);
  line-height: 1.6;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
